img{
    height: 100px;

    }
    #countries{
        border: 0px;
        padding:5px ;
        widows: 200px;
        border-width: 5px;
    }

      body {
          background-color: #e4f8f8;
      }